* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.food-container {
  width: 400px;
  background: #fff;
  box-shadow: 0 0 10px 2px #cfcfca;
  border-radius: 3px;
  overflow: hidden;
  /* min-height: 100vh; */
}

img {
  max-width: 100%;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header input {
  border: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  background: #eee;
  color: inherit;
}

header button {
  background: transparent;
  color: rgb(177, 173, 173);
  border: none;
  font-size: 1.5rem;
  margin-left: 10px;
}

input:focus {
  outline: none;
}

.fav-container {
  background: rgb(245, 230, 255);
  padding: 0.5 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  list-style-type: none;
  padding: 0;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.fav-meals li {
  /* background: #fff; */
  width: 85px;
  margin: 5px;
}

.fav-meals li img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 2px #cfcfca;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #cfcfca;
  border-radius: 3px;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: rgb(197, 188, 188);
  cursor: pointer;
}

.meal-body .fav-btn.active {
  color: rebeccapurple;
}
